##Load Dataset

In [ ]:
#load all raw csv into a dist
from google.colab import files
upload = files.upload()

Saving Customers.csv to Customers.csv
Saving Exchange_Rates.csv to Exchange_Rates.csv
Saving Products.csv to Products.csv
Saving Sales.csv to Sales.csv
Saving Stores.csv to Stores.csv

In [ ]:

#import library
import pandas as pd
import io

#create dist to store dataframe
dataframes = {}

#loop to load data into dataframe
for filename, filecontent in upload.items():
    if filename.endswith(".csv"):
        df_name = filename.replace(".csv", "").lower()
        dataframes[df_name] = pd.read_csv(
            io.BytesIO(filecontent),
            encoding="latin-1",
               quotechar='"',
               sep=",", engine="python"
        )

dataframes.keys()

dict_keys(['customers', 'exchange_rates', 'products', 'sales', 'stores'])

In [ ]:

sales = dataframes['sales']
products = dataframes['products']
customers = dataframes['customers']
stores = dataframes['stores']
exr = dataframes['exchange_rates']

In [ ]:
for name, df in dataframes.items():
    print(f"\n{name.upper()}")
    print("Shape:", df.shape)
    print("Duplicates:", df.duplicated().sum())
    print("Nulls:")
    print(df.isna().sum())

CUSTOMERS
Shape: (15266, 10)
Duplicates: 0
Nulls:
CustomerKey     0
Gender          0
Name            0
City            0
StateCode      10
State           0
ZipCode         0
Country         0
Continent       0
Birthday        0
dtype: int64

EXCHANGE_RATES
Shape: (11215, 3)
Duplicates: 0
Nulls:
Date        0
Currency    0
Exchange    0
dtype: int64

PRODUCTS
Shape: (2517, 10)
Duplicates: 0
Nulls:
ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

SALES
Shape: (62884, 9)
Duplicates: 0
Nulls:
Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

STORES
Shape: (67, 5)
Duplicates: 0
Nulls:
StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [ ]:
#create function to clean column name
def clean_columns(df):
  df.columns = (df.columns.str.strip().str.lower().str.replace(' ','_'))
  return df

# customers= clean_columns(customers)
# exchange_rates = clean_columns(exchange_rates)
# products = clean_columns(products)
# sales = clean_columns(sales)

## Process Customer

In [ ]:
#clean column name
customers= clean_columns(customers)

In [ ]:
#rename cokumn name to snake cake
customers.rename(columns={'customerkey':'customer_key'},inplace=True)
customers.rename(columns={'statecode':'state_code'},inplace=True)
customers.rename(columns={'zipcode':'zip_code'},inplace=True)

In [ ]:
#convert birthday to datetime
customers['birthday'] = pd.to_datetime(customers['birthday'])

In [ ]:
#Handle missing value
#fill Null in statecode column with Unknown
customers['state_code'] = customers['state_code'].fillna('UNKNOWN')

In [ ]:
customers['city'] = customers['city'].str.title()

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_key  15266 non-null  int64
 1   gender        15266 non-null  object
 2   name          15266 non-null  object
 3   city          15266 non-null  object
 4   state_code    15266 non-null  object
 5   state         15266 non-null  object
 6   zip_code      15266 non-null  object
 7   country       15266 non-null  object
 8   continent     15266 non-null  object
 9   birthday      15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB

In [ ]:
customers.head(10)

,customer_key,gender,name,city,state_code,state,zip_code,country,continent,birthday
0,301,Female,Lilly Harding,Wandearah East,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,Mount Budd,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,Winjallok,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,Middle River,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,Tawonga South,VIC,Victoria,3698,Australia,Australia,1965-11-19
5,1086,Male,Hayden Clegg,Templers,SA,South Australia,5371,Australia,Australia,1954-01-20
6,1133,Male,Nicholas Caffyn,Jubilee Pocket,QLD,Queensland,4802,Australia,Australia,1969-11-22
7,1256,Male,Lincoln Jenks,Kullogum,QLD,Queensland,4660,Australia,Australia,1950-03-12
8,1314,Male,Isaac Israel,Edith River,NT,Northern Territory,852,Australia,Australia,1965-12-21
9,1568,Male,Luke Virtue,Kotta,VIC,Victoria,3565,Australia,Australia,1975-07-25

## Process Sales

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [ ]:
#clean column name
sales = clean_columns(sales)
sales.columns

Index(['order_number', 'line_item', 'order_date', 'delivery_date',
       'customerkey', 'storekey', 'productkey', 'quantity', 'currency_code'],
      dtype='object')

In [ ]:
#rename column into snake case
sales.rename(columns={'customerkey' : 'customer_key'},inplace=True)
sales.rename(columns={'storekey' : 'store_key'},inplace=True)
sales.rename(columns={'productkey' : 'product_key'},inplace=True)

In [ ]:
#convert datatype
sales['delivery_date'] = pd.to_datetime(sales['delivery_date'])
sales['order_date'] = pd.to_datetime(sales['order_date'])

In [ ]:
# checking for duplicates
duplicates = sales[sales.duplicated(subset='line_item', keep=False)]
duplicates

,order_number,line_item,order_date,delivery_date,customer_key,store_key,product_key,quantity,currency_code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_number   62884 non-null  int64
 1   line_item      62884 non-null  int64
 2   order_date     62884 non-null  datetime64[ns]
 3   delivery_date  13165 non-null  datetime64[ns]
 4   customer_key   62884 non-null  int64
 5   store_key      62884 non-null  int64
 6   product_key    62884 non-null  int64
 7   quantity       62884 non-null  int64
 8   currency_code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [ ]:
sales.head(10)

,order_number,line_item,order_date,delivery_date,customer_key,store_key,product_key,quantity,currency_code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
6,366004,1,2016-01-01,NaT,1107461,38,163,6,GBP
7,366004,2,2016-01-01,NaT,1107461,38,1529,2,GBP
8,366005,1,2016-01-01,NaT,844003,33,421,4,EUR
9,366007,1,2016-01-01,NaT,2035771,43,1617,1,USD

In [ ]:
sales.to_csv('cleaned_sales.csv',encoding="utf-8",index=False)

## Process Products

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [ ]:
#standardize column name
products = clean_columns(products)

In [ ]:
#rename column into snake case
products.rename(columns={'productkey' : 'product_key',
                         'subcategorykey' : 'subcategory_key',
                         'categorykey' : 'category_key'},inplace=True)

In [ ]:
#convert datatype
products['unit_price_usd'] = products['unit_price_usd'].str.replace('[$,]', '', regex=True).str.strip().astype(float)
products['unit_cost_usd'] = products['unit_cost_usd'].str.replace('[$,]', '', regex=True).str.strip().astype(float)

In [ ]:
# checking for duplicates
duplicates = products[products.duplicated(subset='product_key', keep=False)]
duplicates

Empty DataFrame
Columns: [product_key, product_name, brand, color, unit_cost_usd, unit_price_usd, subcategory_key, subcategory, category_key, category]
Index: []

In [ ]:
products['subcategory'] = products['subcategory'].str.replace(',', ' ',regex=True)
products['product_name'] = products['product_name'].str.replace(',', ' ',regex=True)

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_key      2517 non-null   int64
 1   product_name     2517 non-null   object
 2   brand            2517 non-null   object
 3   color            2517 non-null   object
 4   unit_cost_usd    2517 non-null   float64
 5   unit_price_usd   2517 non-null   float64
 6   subcategory_key  2517 non-null   int64
 7   subcategory      2517 non-null   object
 8   category_key     2517 non-null   int64
 9   category         2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [ ]:
products.head(10)

,product_key,product_name,brand,color,unit_cost_usd,unit_price_usd,subcategory_key,subcategory,category_key,category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio
5,6,Contoso 2G MP3 Player E200 Black,Contoso,Black,11.00,21.57,101,MP4&MP3,1,Audio
6,7,Contoso 2G MP3 Player E200 Blue,Contoso,Blue,11.00,21.57,101,MP4&MP3,1,Audio
7,8,Contoso 4G MP3 Player E400 Silver,Contoso,Silver,30.58,59.99,101,MP4&MP3,1,Audio
8,9,Contoso 4G MP3 Player E400 Black,Contoso,Black,30.58,59.99,101,MP4&MP3,1,Audio
9,10,Contoso 4G MP3 Player E400 Green,Contoso,Green,30.58,59.99,101,MP4&MP3,1,Audio

In [ ]:
products.to_csv('cleaned_products.csv',encoding="utf-8",index=False)

## Process Stores

In [ ]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [ ]:
#standardize column name
stores = clean_columns(stores)

In [ ]:
#rename column into snake case
stores.rename(columns={'storekey' : 'store_key'},inplace=True)

In [ ]:
#convert datatype
stores['open_date'] = pd.to_datetime(stores['open_date'])

In [ ]:
#fill missing value
stores['square_meters'] = stores['square_meters'].fillna(0.0)

In [ ]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_key      67 non-null     int64
 1   country        67 non-null     object
 2   state          67 non-null     object
 3   square_meters  67 non-null     float64
 4   open_date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [ ]:
stores.head(10)

,store_key,country,state,square_meters,open_date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09
5,6,Australia,Western Australia,2000.0,2010-01-01
6,7,Canada,New Brunswick,1105.0,2007-05-07
7,8,Canada,Newfoundland and Labrador,2105.0,2014-07-02
8,9,Canada,Northwest Territories,1500.0,2005-03-04
9,10,Canada,Nunavut,1210.0,2015-04-04

In [ ]:
stores.to_csv('cleaned_stores.csv',encoding="utf-8",index=False)

## Process Exchange_Rates

In [ ]:
exr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [ ]:
#standardize column name
exr = clean_columns(exr)

In [ ]:
exr.columns

Index(['date', 'currency', 'exchange'], dtype='object')

In [ ]:
#conver datatype
exr['date'] = pd.to_datetime(exr['date'])

In [ ]:
exr.head(10)

        date currency  exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415
5 2015-01-02      USD    1.0000
6 2015-01-02      CAD    1.1682
7 2015-01-02      AUD    1.2323
8 2015-01-02      EUR    0.8304
9 2015-01-02      GBP    0.6477

In [ ]:
exr.to_csv('cleaned_exr.csv',encoding="utf-8",index=False)

## Export Clean Dataset

In [ ]:



products.to_csv('cleaned_products.csv',encoding="utf-8",index=False)